<footer class="footer-principal">
    <section class="footer-container">
        <div class="footer-social">
            <ul role="list">
                <li>
                    <%- include('../../public/images/twitter.svg') %>
                </li>
                <li>
                    <%- include('../../public/images/facebook.svg') %>
                </li>
                <li>
                    <%- include('../../public/images/instagram.svg') %>
                </li>
                <li>
                    <%- include('../../public/images/youtube.svg') %>
                </li>
            </ul>
        </div>
        <div class="footer-app">
            <ul>
                <li>
                    <%- include('../../public/images/apple.svg') %>
                        <span> App Store </span>
                </li>
                <li>
                    <%- include('../../public/images/google-play.svg') %>
                        <span> Google Play </span>
                </li>
            </ul>
        </div>
        <div class="footer-legend">
            <p> &copy; MiEcommerce. Todos los derechos reservados.</p>
        </div>
    </section>
</footer>