<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <div class="ventanaEmergente">
            <%- include('../partials/modalError') %>
        </div>

        <header>
            <div class="headerContainer">
                <a href="/" class="text-logo">
                    <p>Mi<span>Ecommerce</span></p>
                </a>
            </div>
        </header>
        <main class="registerLoginMain">

            <section class="registerForm">

                <h2>¡Hola!</h2>
                <form action="/login" method="post">
                    <fieldset class="<%=errors.email && "error" %>">
                        <input  type="email" name="email" placeholder="Tu email"
                            value= <%=oldData.email && oldData.email %>
                        >
                        <i class="fas fa-exclamation-circle"></i>
                        <small>
                            <%= errors.email && errors.email.msg %>
                        </small>
                    </fieldset>
                    <fieldset  class="<%=errors.password && "error" %>">
                        <input  type="password" name="password" placeholder="Tu contraseña">
                        <i class="fas fa-exclamation-circle"></i>
                        <small>
                            <%= errors.password && errors.password.msg %>
                        </small>
                    </fieldset>
                    <button class="btn" type="submit">Crear cuenta</button>
                </form>

            </section>

            <div class="account">
                <p>¿No tienes cuenta? <a href="/register">Registrate</a></p>
            </div>

        </main>


        <%- include('../partials/footer') %>

    </body>

</html>