<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body class="dark">
        <%- include('../partials/header') %>
            <main class="product-detail">
                <section class="detalle-producto">
                    <article class="producto">
                        <h4><%= product.title %></h4>
                        <div class="producto-img-container">
                            <img class="producto-imagen" src="<%= product.image %>" alt="<%= product.title  %>">
                            <ul>
                                <li><img src="<%= product.image %>" alt="<%= product.title  %>"></li>
                                <li><img src="/images/products/default-product.png" alt="default-product"></li>
                                <li><img src="/images/products/default-product.png" alt="default-product"></li>
                            </ul>
                        </div>
                        <div class="producto-caracteristicas">
                            <p class="title"><%= product.title %></p>
                            <p><span class="bold"><%= product.price %></span> PUNTOS</p>
                            <p class="description"> <%= product.description %></p>
                            
                            <form action="/cart/addProduct" method="post">
                                <input name="product " type="hidden" value="<%= product %> ">
                                <button type="submit">Agregar al Carrito</button>
                            </form>
                        </div>
                    </article>
                </section>

                <section class="interes">
                    <h3>Tambien te puede interesar</h3>
                    
                    <article class="products-card">
                        
                        
                        <% relacionados.forEach((product)=> { %>
                            <%- include('../partials/card', product) %>
                        <% }) %>
                    </article>
                </section>

            </main>
            <%- include('../partials/list') %>
                <%- include('../partials/footer') %>
    </body>

</html>