
<article class="card__section">
    
    <img src="<%= image %>" alt="<%= title %>">

    <div class="card__section-div">
        <div>
            <h3>
                <a href="/products/<%= id %>">
                    <%= title %>
                </a>
            </h3>
        </div>
        <div>
            <p><%= price %> </p>
            <p class="card__section-puntos">PUNTOS</p>
        </div>
    </div>
</article>
