<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <%- include('../partials/list') %>
                <section class="content-products">
                    <h2>Te puede interesar</h2>
                    <%- include('../partials/card') %>
                    <%- include('../partials/card') %>
                    <%- include('../partials/card') %>
                    <%- include('../partials/card') %>
                </section>
                <section class="content-products">
                    
                    <h2>Los mas pedidos</h2>
                    <%- include('../partials/card') %>
                    <%- include('../partials/card') %>
                    <%- include('../partials/card') %>
                    <%- include('../partials/card') %>
                </section>
                
                <%- include('../partials/list') %>
            </main>
            <%- include('../partials/footer') %>

    </body>

</html>
