<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <div class="container-products">
        <section class="detalle-producto">
            <article class="producto-img-txt">
                <div class="producto-img-container">
            <img class="producto-imagen" src="images/images (2).jpeg" alt="Detalle de producto">
                </div>
            <div class="producto-caracteristicas">
                <h3>Whiskey Jack Daniels Honey 750ml</h3>
                <span class="bold">19.900 </span> 
                <span>PUNTOS</span>
                <button type="submit" class="agrega-carrito">Agregar al Carrito</button>
                <p>
                    Un verdaderamente fabuloso licor de whisky Jack Daniels. Está hecho con una mezcla de ricas especias y suave, miel tersa y el resultado es delicioso sobre hielo o café.
                    Aroma de caramelo y roble carbonizado, un poco de flor de naranja, miel de manuka y vainilla.
                    Boca: grueso y cremoso, con notas de vainilla, roble tostado, miel de nuevo, un poco de albaricoque también.
                    Acabado: De buena longitud - redondeado y rico.
                    No incluye vasos, la foto es sólo ilustrativa
                </p>
            </div>
            </article>
            <article class="products-card">
                <%- include('../partials/card') %>
                <%- include('../partials/card') %>
                <%- include('../partials/card') %>
                <%- include('../partials/card') %>
            </article>
        </section>

    </div>
    <%- include('../partials/list') %>
    <%- include('../partials/footer') %>
</body>

</html>






